/.idea/
/build-scripts/
/test/

/babel.config.cjs
/jest.config.cjs
/yarn.lock
/*.tgz
/*.log
/.yarnclean
/nodemon.json
/.editorconfig
/tsconfig.*
/.eslintrc.json

/.next
/src/pages
/dist/pages
/esm/pages
